/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

web/assetic
web/css
web/js
/src/LaNetscouade/AngularDemoBundle/Resources/public/components/*
!src/LaNetscouade/AngularDemoBundle/Resources/public/components/.gitkeep
.DS_Store
