{% extends 'LaNetscouadeAngularDemoBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>AngularJS with Twig</h1>


        <div id="angular-app" ng-controller="cocktailsIndexController">
            {% verbatim %}
            <h2>{{ pageTitle }}</h2>
            <ul>
                <li ng-repeat="cocktail in cocktailsList">
                <a href="cocktails/{{cocktail.id}}">{{cocktail.name}}</a>
                </li>
            </ul>
            {% endverbatim %}

        </div>
         <div>
            {% verbatim %}
            {{ 'Symfony2 is great' | trans:'messages' }}
            {% endverbatim %}
        </div>
    </div>
{% endblock %}
