<!doctype html>
<html>
<head>
	<title>Déployer une architecture "client-server" avec Symfony2 et AngularJS</title>
</head>
<body>
	<h1>Tips &amp; Tricks: Déployer une architecture "client-server" avec Symfony2 et AngularJS.</h1>

	<a href="{{ path('angular_demo1') }}">Voir la demo1</a>
	<a href="{{ path('angular_demo2') }}">Voir la demo2</a>
</body>
</html>
